<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta ame="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Document
    </title>
</head>
<body>
    <p>
        <%= name %>
    </p>
    <h2>firstName</h2>
    <form action="/firstName" method="post">
        <input type="firstname" name="login[firstname]" id="">
        <input type="submit" value="Click me!">
    </form>
    <h2>email</h2>
    <form action="/firstName" method="post">
        <input type="firstname" name="email[email]" id="">
        <input type="submit" value="Click me!">
    </form>
</body>

</html>